@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8
  }
}

:root {
  --bg-opacity: 1;
}

.scrollbar-w-2::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
  background-color: #f7fafc;
  opacity: var(--bg-opacity);
}

.scrollbar-thumb-blue::-webkit-scrollbar-thumb {
  background-color: #edf2f7;
  opacity: var(--bg-opacity);
}

.scrollbar-thumb-darker::-webkit-scrollbar-thumb {
  background-color: #4F46E5;
}

.parent-focus-within:focus-within .parent-focus-scrollbar-thumb-lighter {
  scrollbar-color: #f7fafc;
}

.parent-focus-within:focus-within .parent-focus-scrollbar-thumb-lighter::-webkit-scrollbar-thumb {
  background-color: #f7fafc;
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
}

h1 {
  font-size: 3rem;
}